.btnWrapper {
    padding: 15px 20px !important;
    border-radius: 10px !important;
    border: none;
     /* transition: transform 0.3s ease;  */
}
/* 
.btnWrapper:hover{
    transform: scale(1.1);
} */

@media (width < 992px) {

    .btnWrapper {
        padding: 13px;
    }

   
}