/* MAIN CONTAINER */
.stickySection {
  display: flex;
  position: relative;
  width: 100%;
}


/* WRAPPER BEFORE STICKY */
.stickyFormWrapper {
  position: relative;
  top: 20px;
  height: fit-content;
  width: 100%; /* responsive */
  max-width: 405px;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px,
              rgba(14, 30, 37, 0.32) 0px 2px 16px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
  align-self: flex-start;
}


/* FIXED STICKY POSITION */
.sticky {
  position: fixed;
  top: 20px;
  width: 405px;
  z-index: 100;
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 30px;
  border-radius: 10px;
}

@media (width < 1400px) {
  .sticky {
    width: 345px;
  }
}

@media (width < 1200px) {
  .sticky {
    width: 290px;
    padding: 15px;
  }

  .stickyFormWrapper {
    padding: 15px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .stickyFormWrapper {
    padding: 15px;
    max-width: 100%;
  }
}
